<section class="main">
    <div class="wrapper">
        <div class="left-col">
            <div class="status-wrapper">
                <div class="status-card">
                    <div class="profile-pic"><img src="https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg" alt=""></div>
                    <p class="username">{{users[0]}}</p>
                </div>
                <div class="status-card">
                    <div class="profile-pic"><img src="https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg" alt=""></div>
                    <p class="username">{{users[1]}}</p>
                </div>
                <div class="status-card">
                    <div class="profile-pic"><img src="https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg" alt=""></div>
                    <p class="username">{{users[2]}}</p>
                </div>
        </div>
    </div>